.bodyCarousel {
    width: 80%;
    margin: 0 auto;
}
.howItWorks {
    position: relative;
}


/* mobile css */
@media only screen and (max-width: 910px) { 
    .bodyCarousel {
        width: 100%;
    }
}