
.mid-sec {
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: #282c34;
    color: aliceblue;
    padding: 70px 0;
    text-align: center;
    flex-wrap: wrap;
}
.mid-sec .serv-list{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 2px solid red;
    margin: 16px 8px;
    border-radius: 22px;
    width: 200px;
}

.howWeWork-sec {
    text-align: center;
    position: relative;
}
.howWeWork-sec p.heading { font-size: 46px; margin: 64px;}
.howWeWork-sec p.heading span {
    font-weight: 800;
    color: red;
    
}
/* /////////////////////////////////////// */


.howWeWork-sec .container-div {
    width: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.howWeWork-sec .container-div .swiper.main-swiper { 
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    width: 75%;
}
.howWeWork-sec .container-div .swiper.main-swiper .swiper-wrapper {
    display: flex;
}

.howWeWork-sec .container-div .swiper.main-swiper .stages {
    position: relative;
    padding: 16px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.howWeWork-sec .container-div .swiper.main-swiper .stages .stage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 28px;
}
.howWeWork-sec .container-div .swiper.main-swiper .stages span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-weight: 600;
    background-color: red;
    padding: 10px 16px;
    color: aliceblue;
    border-radius: 50%;
}
.howWeWork-sec .container-div .swiper.main-swiper .stages span:hover,
.howWeWork-sec .container-div .swiper.main-swiper .stages .stage span.active {
    box-shadow: 0px 0px 10px 1px;
    cursor: pointer;
    color: #282c34;
    font-weight: 600;
    transition:color 500ms;
}
.howWeWork-sec .container-div .swiper.main-swiper .stages .stage p.active,
.howWeWork-sec .container-div .swiper.main-swiper .stages .stage:hover {
    color: red;
    cursor: pointer;
    transition: color 500ms;
}
.howWeWork-sec .container-div .swiper.main-swiper .swiper-wrapper .swiper-slide:not(:last-child):before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 32px;
    width: 200px;
    height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../assets/line.png");   
}
.howWeWork-sec .container-div .carousal-main {
    margin: 0 auto 50px;
    padding: 25px 0;
    width: 80%;
    overflow: hidden;
}

.howWeWork-sec .container-div .carousal-main .swiper.carousal-swiper {
    display: flex;
    padding: 25px;
    position: static;
}
.howWeWork-sec .container-div .carousal-main .swiper.carousal-swiper .swiper-wrapper {
    position: relative;
    width: auto;
    display: flex;
}
.howWeWork-sec .container-div .carousal-main .swiper.carousal-swiper .swiper-wrapper .swiper-slide.actual-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    border: 1px solid red;
    border-radius: 10px;
    padding: 30px;
}
.howWeWork-sec .container-div .carousal-main .swiper.carousal-swiper .swiper-wrapper .swiper-slide.actual-slide .img-sec img {
    width: 100%;
}
.howWeWork-sec .container-div .carousal-main .swiper.carousal-swiper .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: '<' !important;
    font-size: 28px;
    border: 2px solid red;
    padding: 5px;
    border-radius: 10px;
}
.howWeWork-sec .container-div .carousal-main .swiper.carousal-swiper .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: '>' !important;
    font-size: 28px;
    border: 2px solid red;
    padding: 5px;
    border-radius: 10px;
}
.howWeWork-sec .container-div .carousal-main .swiper.carousal-swiper .swiper-button-prev,
.howWeWork-sec .container-div .carousal-main .swiper.carousal-swiper .swiper-button-next {
    top: 60%;
    width: 18%;
}
.howWeWork-sec .container-div .carousal-main .swiper.carousal-swiper .actual-slide .text-sec .knowMore { 
    width: 100px;
    margin: 36px auto 0 auto;
}
.howWeWork-sec .container-div .carousal-main .swiper.carousal-swiper .actual-slide .text-sec .knowMore .custBtn{
    padding: 15px;
    border: 1px solid red;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    font-size: 12px;
}
.howWeWork-sec .container-div .carousal-main .swiper.carousal-swiper .actual-slide .text-sec .knowMore .custBtn:hover {
    background-color: red;
    color: aliceblue;
    font-weight: 600;
    transition: background-color 500ms, color 500ms;
}


/* mobile css */
@media only screen and (max-width: 768px) {
    .mid-sec { flex-direction: column; align-items: center;}
    .mid-sec .serv-list{
        width: 300px;
        flex-direction: column;
        margin-bottom: 12px;
    }
    .howWeWork-sec .container-div .carousal-main .swiper.carousal-swiper .swiper-wrapper .swiper-slide.actual-slide {
        flex-direction: column;
    }
}

@media only screen and (max-width: 480px) {
    .mid-sec .serv-list{
        width: 220px;
    }
}